
.navStyle {
  position: 'absolute'; 
  right: 0;
};

.busicon {
 
  height: 40px;
  width: 16.25px;
}​

.mapboxgl-popup {
  max-width: 200px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}






