.App {
  text-align: center;
}

div.EAST {
  background-image: url(icons/bus_east.png);
  background-size: 100%;
  width: 50px;
  height: 20px;
}
​
div.NORTH {
  background-image: url(icons/bus_north.png);
  background-size: 100%;
  width: 20px;
  height: 50px;
}​

div.SOUTH {
  background-image: url(icons/bus_south.png);
  background-size: 100%;
  width: 20px;
  height: 50px;
}​

div.WEST {
  background-image: url(icons/bus_west.png);
  background-size: 100%;
  width: 50px;
  height: 20px;
}​

.mapboxgl-popup {
  max-width: 200px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}






